 <div class="hero min-h-screen bg-base-200">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">Welcome to the Movies!</h1>
      <p class="py-6">Create your user using the sign up link</p>
      <%=link_to "Sign up", new_user_registration_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
